<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxjiahhl.product.mapper.ProductMapper">
    <select id="checkProductStatus" parameterType="java.lang.Integer" resultType="com.zxjiahhl.product.data.ProductInfo">
        select p.product_id as productId,
        p.product_name as productName,
        p.product_stock as productStock,
        p.product_status as productStatus
        from product_info p
        where p.product_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>